
<div class="container-catalogue">
  <navbar-component></navbar-component>
  <div class="container-card">
    <div
      class="info-card"
      *ngFor="
        let item of arrayPokemons
          | paginate
            : { itemsPerPage: 15, currentPage: page, totalItems: resultData }
      "
    >
      <div>
        <div class="card-img">
          <img [src]="item.sprites.front_default" alt="" />
        </div>
        <h6>{{ item.name }}</h6>
        <p>Power: {{ item.height }}</p>
      </div>
    </div>
  </div>
  <pagination-controls
  class="pagination"
  (pageChange)="page = $event; arrayPokemons = []; searchpokemon()"
></pagination-controls>

</div>

