* {
    justify-content: center;
}

.container-catalogue {
    width: 100vw;
    height: auto;
    background-color: #fffaf2;
    overflow: hidden;
}

.container-card {
    padding: 64px 17px;
    display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 200px);
	justify-items: center;
	align-items: center;
}

.info-card {
    background-color: #F2D1D1;
    color: #a42947;
    border-radius: 8px;
    width: 150px;
    height: 180px;
    text-align: center;
}

.pagination ::ng-deep ul > li:not(.active) > a {
    color: #C6DCE4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

.pagination ::ng-deep .ngx-pagination .current {
    background: #DAEAF1;
    color: #AC7088;
    border-radius: 30%;
    font-weight: bolder;
}









