* {
    justify-content: center;
}

.container-catalogue {
    width: 100vw;
    height: auto;
    background-color: #efffa9;
    overflow: hidden;
}

.container-card {
    padding: 64px 17px;
    display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 200px);
	justify-items: center;
	align-items: center;
}

.info-card {
    border: 2px solid #CAB8FF;
    background-color: #C1FFD7;
    border-radius: 8px;
    width: 150px;
    height: 180px;
    text-align: center;
}

.pagination ::ng-deep .ngx-pagination .current {
    background: red;
}



