.container-welcome{
    display: flex;
    flex-flow: column wrap;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #a0fff7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  h1 {
    color: #db4954;
    font-weight:bolder;
  }
  p {
    color: #0085f4;
    margin-top: 32px;

  }
  .box-img{
    width: 300px;
    height: 300px;
    overflow: hidden;
  }
  .btn{
    text-decoration: none;
    margin-top: 8px;
    font-family: Verdana, sans-serif;
    cursor: pointer;
    img {
        width: 40px;
        filter: brightness(1.1);
        mix-blend-mode: multiply;
    }
  }
  
  .box-img img{
    width: 100%;
    height: auto;
  }
  @supports(object-fit: cover){
      .box-img img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
  }